*{
  box-sizing: border-box;  
}
p{
  margin: 0;
}
body{
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.main{
margin: 0 auto;
}
.container{
 max-width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}
.header__inner{
 height: 104px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.header___text{
 color: #9a9a9a;
 font-size: 16px;
 font-weight: 400;
 margin-right: auto;
 padding-left: 30px;
}
.header__phone a{
 text-decoration: none;
 font-size: 20px;
 font-weight: 450;
 color: #303030;
}
.header___phone-text{
color: #9a9a9a;
font-size: 12px;
font-weight: 400;
text-align: right;
}
.top{
 padding-bottom: 84p;
}
.top__imeges{
 background-image: url(../images/fon.png);
 max-width: 1720px;
 height: 544px;
 margin: 0 auto;
}
.top{
 padding-bottom: 104px; 
}
.top__wrapper{
 color: #ffffff;
 display: flex;
 justify-content: space-between;
}
.top__inner{
  margin-top: -450px;
}
.top__iner-img{
  margin-left:122px;
}
.top__inner-subtitle{
 font-size: 14px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 0.7px;
 padding-top: 57px;
}
.top__inner-title{
 font-size: 60px;
 font-weight: 600;
 margin-top: 28px;
}
.top__inner-text{
 font-size: 18px;
 font-weight: 400;
 margin-top: 40px;
}
.top__block-form{
 background-color: #ffffff;
 margin-top: 84px;
 padding: 20px; 
}
form{
 border: 1px solid #a4c58c;
 padding-top: 48px;
 padding-left: 48px;
 padding-bottom: 118px;
 position: relative;
}
.form__title{
 color: #303030;  
 font-size: 14px;
 font-weight: 700;
 letter-spacing: 0.7px;
 text-transform: uppercase;
 line-height: 22px;
}
input{
 margin-top: 34px;
 border: none;
 border-bottom: 1px solid #a4c58c;
 padding-bottom: 14px;
 width: 200px;
 outline:none
}
input + input{
 margin-left: 30px;
}
input::placeholder{
color: #a8c48c;
font-size: 14px;
font-weight: 400;
}
button{
cursor: pointer;
position: absolute;
width: 250px;
height: 60px;
background-color: #7eb252;
color:#ffffff;
font-size: 14px;
text-transform: uppercase; 
bottom: 0;
right: 0;
outline:none;
font-weight: 700;
border: none;
}
button:active{
 background-color: #a4d678;;
}
button img{
margin-left: 18px;
}
.advantages{
 padding-bottom: 200px;
}
.advantages__inner{
display: flex;
justify-content: space-between;
}
.advantages__item{
  padding-left: 40px;
  padding-top: 35px;
  width: 250px;
  position: relative;
}
.advantages__img{
 position: absolute;
 left: 0px;
 top:0px;
}
.advantages__title{
 display: inline-block;
 font-size: 30px;
 font-weight: 500;
 line-height: 24px;
 color: #a4c58c;
}
.advantages__title span{
 font-size: 18px;
}
.advantages__title hr{
height: 3px;
background-color: #a4c58c;
margin-top: 3px;
}
.advantages__text{
 font-size: 16px;
 font-weight: 400px;
 line-height: 24px;
}
.heals___list-bottom{
 width: 650px;
 border: 2px solid red;
}
.heals__inner{
  max-width: 1720px;
  display: flex;
  justify-content: space-between;
}
.heals__block-text{
  z-index:1 ;
  border: 2px solid red;
  padding-top: 50px;
  padding-right: 20px;
}
h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding-bottom: 45px;
}
.list{
  padding-top: 48px;
  padding-bottom: 200px;
}
.list__wrapper{
  max-width: 1720px;
  background-color: #f6f9f3;
  margin: 0 auto;
  margin-top: 46px;
}
.list__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.list__inner{
  display: flex;
  justify-content: space-between;
}
.list__imege{
margin-top: -202px;
position: relative;
}
.list__content-tabs{
  width: 100%;
  padding-right: 20px;
}
.tabs__content span{
 font-size: 14px;
 font-weight: 550;
 letter-spacing: 0.7px;
 text-transform: uppercase;
 color: #a4c58c;
 padding-right: 22px;
}
.tabs{
  cursor: pointer;
  display: flex;
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #a4c58c;
  padding-top: 22px;
  padding-bottom: 27px;
}
.list__box{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.list__box .tabs{
  display: flex;
  align-items: center;
  width: 50%;
}
.list__box .tabs:nth-child(2n+1){
  border: 1px solid #a4c58c;
  border-left: none;
  border-top:none;
}
.list__box .tabs:nth-child(2n){
  padding-left: 20px;
}
.list__imege{
  position: relative;
}
.tabs__item-bottom{
  position: absolute;
  top: 0;
}
.tab{
  display: none;
}
 .tab.active{
 width: 44px;
height: 44px;
background-color: #ffffff;
opacity: 0.8;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
 .tab_border{
width: 26px;
height: 26px;
background-color: #a5c98a;
background-color: #a4c58c;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.tab_border{
color: #ffffff;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
}
.tab-1{
 position: absolute;
 top: 190px;
 left: 148px;
}
.tab-2{
  position: absolute;
  top: 190px;
  left: 247px;
}
.tab-3{
  position: absolute;
  top: 35px;
  left: 228px;
}
.tab-4{
  position: absolute;
  top: 160px;
  left: 228px;
}
.tab-5{
  position: absolute;
  top: 35px;
  left: 228px;
}
.tab-6{
  position: absolute;
  top: 322px;
  left: 259px;
}
.tab-7{
  position: absolute;
  top: 34px;
  left: 228px;
}
.tab-8{
  position: absolute;
  top: 194px;
  left: 229px;
}
.tab-9{
  position: absolute;
  top: 34px;
  left: 228px;
}
.tabs__inner{
  position: absolute;
  bottom: 14px;
  padding: 20px;
  background-color: #f6f9f3;
}
.tabs__content-reviews{
  padding: 28px 27px 32px 50px;
  border: 1px solid rgba(164, 197, 140, 0.6);
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}
.reviews{
  position: absolute;
  bottom: 8px;
  background-color: #f6f9f3;
  left: 56px;
}
.reviews a{
  text-decoration: none;
  color: #7eb252;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  
}
.list__btn{
 padding-top: 20px;
 display: flex; 
 justify-content: flex-end;
 cursor: pointer;
}
.list__button{
 position: static;
 width: 500px;
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: center;  
 font-size: 14px;
 font-weight: 750;
 letter-spacing: 0,7px;
}
.reputation{
 padding-bottom: 200px;
}
.container__wrapper{
 max-width: 1720px;
 margin: 0 auto;

}
.reputation__inner{
  display: flex;
  max-width: 1440px;
 
}
.reputation__inner-icone{
  background-image: url(../images/reputation.png);
  background-repeat: no-repeat; 
  width: 875px;
  height: 735px;
  position: relative;

}
.reputation__box{
  display: flex;
  justify-content: space-between;
  }
.reputation__form{
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.reputation__form-inner{
  padding: 20px;
  z-index: 1;
  background-color: #ffffff;
}
.reputation__form-content{
  padding: 38px 78px 38px 38px;
  border: 1px solid #a4c58c;
  border-bottom: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.reputation-btn{
  position: static;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}
.reputation__content{
  margin-top: 48px;
  padding-left: 68px;
}
.reputation__sub-title{
  font-size: 14px;
  font-weight: 700;
}
.content-text{
  display: flex;
  align-items: center;
  margin-top: 44px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.content-text img{
 margin-right: 30px;
}
.wrapper{
  max-width: 1720px;
  margin: 0 auto;
  background-image: url(../images/history__icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  min-height:920px;;
}
.history__inner{
  max-width: 718px;
}
.history__title{
font-size: 40px;
font-weight: 700;
line-height: 50px;
margin-top: 98px;
}
.history__text{
  height: 370px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f9f3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-top: 52px;
}
.history__text::before {
  content: "";
  position: absolute;
  background-color: #f6f9f3;
  height: 368px;
  width: 280px;
  left: -280px;
}

.history__text p{
 margin-top: 30px; 
} 
.history__form{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 60px;
}
.history__form-title{
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.history__form-mail{
  border: none;
  padding-left: 0;
  width: 370px;
}
.history__form-mail input{
  width: 100%;
}
.history__form-mail button{
  width: 100%;
}
.recipe{
  background-image: url(../images/left\ flower.png);
  background-repeat: no-repeat;
  background-position: left center; 
  min-height: 630px;
}
.recipe__inner{
  max-width: 100%;
  background-image: url(../images/right\ flower\ .png);
  background-repeat: no-repeat;
  background-position: right center; 
  min-height: 630px;
  display: flex;
  align-items: center;
  justify-content: center
}
.recipe__content{
 height: 332px;
 border: 3px solid #a4c58c;
 border-left: none;
 border-right: none;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
}
.recipe__title{
font-size: 24px;
font-weight: 700;
line-height: 40px;
text-align: center;
}
.pecipe__text{
font-size: 18px;
font-weight: 400;
}
.pecipe__text span{
color: #9a9a9a;
font-size: 16px;
}
.benefit{
  padding-bottom: 200px;
}
.benefit__inner{
height: 380px;
background-color: #f6f9f3;
}
.benefit__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 102px;
}
.benefit__title span{
 margin-left: 20px;
}
.benefit__wrapper-icone{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  max-width: 1012px;
  margin: 0 auto;
  margin-top: -70px;
  padding-bottom: 18px;
}
.benefit__icone:nth-child(1){
  margin-right: 18px;
}
.benefit__icone:nth-child(3){
  margin-left: 18px;
}
.benefit__icone{
 border-top: none !important;
 position: relative;
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 312px;
 height: 312px;
 padding: 70px 80px 70px 78px;
 border: 1px solid #a4c58c;
 font-size: 150px;
font-weight: 400;
font-weight: 900;
color:#f6f9f3;
}
.benefit__icone img{
  position: absolute;
  z-index: 1;
  bottom: 101px;
  left: 124px;
}
.benefit__text{
font-size: 14px;
font-weight: 700;
color: #303030;
text-transform: uppercase;
text-align: center;
width: 280px;
}
.structure{
 padding-bottom: 200px;
}
.structure__wrapper-icone{
  display: flex;
  justify-content: space-between;
}
.structure__container{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.structure__icone{
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #a4c58c;
}
.structure-text{
 position: absolute;
 margin-top: 18px;
 transform: rotate(271deg);
 font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #a4c58c;
}
.structure__title-1{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-2{
  position: absolute;
  display: inline-block;
  bottom: 53px;
  right: -32px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-3{
  position: absolute;
  display: inline-block;
  bottom: 91px;
  right: -74px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-4{
  position: absolute;
  display: inline-block;
  bottom: 59px;
  right: -34px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-5{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-6{
  position: absolute;
  display: inline-block;
  bottom: 73px;
  right: -40px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-7{
  position: absolute;
  display: inline-block;
  bottom: 60px;
  right: -23px;
  transform: rotate(271deg);
  font-size: 14px;
}.structure__title{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-8{
  position: absolute;
  display: inline-block;
  bottom: 71px;
  right: -37px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-9{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-10{
  position: absolute;
  display: inline-block;
  bottom: 76px;
  right: -38px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__icone-2{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-2:nth-child(2){
  margin-right: 59px;
}
.structure__icone-3{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-4{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-5{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-6{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/6.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-7{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/7.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-8{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/8.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-9{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/9.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-10{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/10.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-11{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/11.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__wrapper-recipe {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.structure__content-title{
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.structure__content-title span{
  margin-left: 26px;
}
.structure__content-text{
  font-size: 16px;
  line-height: 22px;;
}
li{
  color: #a4c58c !important;
} 
.structure__content-text{
font-size: 16px;
line-height: 22px;
color: #303030;
}
.description-text{
  font-size: 16px;
  line-height: 22px;;
  color: #303030;
  margin-top: 24px;
}
.structure__title{
  right: -30px;
}
.structure-text-content{
position:  absolute;
font-size: 14px;
line-height: 22px;
font-weight: 700;
top: 113px;
left: 19%;
}
.structure__recipe-description{
  border: 1px solid #a4c58c;
  padding: 81px 58px 98px 56px;
  border-right: none;
  min-width: 844px;
}
.description__wrapper-button{
display: flex;
justify-content: flex-end;
}
.description__btn{
 position: static;
 width: 351px;
 height: 60px;
 margin-top: 60px;
}
.structure__effect{
  position: absolute;
  width: 230px;
 height: 230px; 
 background-image: url(../images/hover.png);
 z-index: 1;
 display: none;
 top: 24px;
 left: 21px;
 opacity: 0.9;
}
.structure__icone:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__effect-text{
  color: #ffffff;
  font-size: 14px;
line-height: 20px;
font-weight: 700;
}
.structure__icone-2:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-3:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-4:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-5:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-6:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-7:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-8:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}.structure__icone-9:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-10:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-11:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__wrapper{
  color: #a4c58c;
}
.customer-reviews__wrapper{
  background-color: #f6f9f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.customer-reviews__title{
font-size: 40px;
line-height: 50px;
font-weight: 700;
}
.customer-reviews__tab-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-reviews__tab-1{
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  width: 39%;
  padding-right: 40px;
  justify-content: flex-end;
  height: 70px;
}
.customer-reviews__tab-2{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding-right: 40px;
  width: 61%;
  padding-left: 72px;
  height: 70px;
}
.customer-reviews__inner{
  background-color: #f6f9f3;
  color: #c3c3c3;
}
.customer-reviews__text-border{
width: 31px;
height: 3px;
background-color: #a4c58c;
}
.customer-reviews__text{
font-size: 16px;
line-height: 22px;
font-weight: 400;
color: #9a9a9a;
}
.customer-reviews__inner-wrapper{
 padding-bottom: 50px;
 width: 500px;
}
.customer-reviews__inner-wrapper span{
  line-height: 36px;
  font-weight: 700;
  color: #303030;
}
.customer-reviews__box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 68px;
}
.customer-reviews__text-border{
  margin-bottom: 18px;
}
.customer-reviews__box-2{
  display: flex;
  flex-wrap: wrap;
  padding-left: 68px;
}
.customer-reviews__content.active{
   display: block;
   background-color: #f6f9f3;
}
.tabs-tab.acvive{
  color: #7eb252;
  background-color: #f6f9f3;
}
.tabs-tab{
  color: #c3c3c3;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.customer-reviews__tab-1.tabs-tab{
  color: #7eb252;
  background-color: #f6f9f3;
}
.tabs-on-2{
  display: none;
}
.customer-reviews__content.tabs-on-1.active{
  display: block !important;
}
.customer-reviews__container{
 display: flex;
 align-items: center;
 justify-content:flex-end;
 margin-top: 20px;
}
.customer-reviews__link{
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  color: #7eb252;
}
.customer-reviews__btn{
 position: sticky;
 width: 570px;
 height: 70px;
 margin-left: 48px;
}
.list-tablet{
  display: none;
}
.customer-reviews{
  padding-bottom: 200px;
}
.your-recipe{
  padding-bottom: 200px;
}
.your-recipe-container{
  background-image: url(../images/icone__recipe.png);
  background-repeat: no-repeat;
  background-position:left;
  height: 775px;
}
.your-recipe__icone-wraper{
  padding: 20px;
  background-color: #ffffff;
  margin-top: 60px;
}
.your-recipe__content{
 border: 1px solid rgba(164,197,140,0.6);
 background-color: #ffffff;
 padding :70px 46px 70px 70px;
}
/* лева 71  верх 70  права 46 441низ */
.your-recipe__content-title{
font-size: 40px;
font-weight: 700;
padding-bottom: 54px;
}
.your-recipe__content-text{
font-size: 16px;
font-weight: 400;
color: #303030;
margin-bottom: 24px;
}
.your-recipe__content-sabtitle{
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.05em;
margin-top: 34px;
}
.your-recipe__btn{
position :static;
width: 500px;
height: 70px;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.05em;
margin-top: 64px;
}
.your-recipe__inner{
  display: flex;
  justify-content: flex-end;
}
.warranty-title{
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.warranty__icone{
  background-image: url(../images/warranty__1.png);
  background-repeat: no-repeat;
  height: 180px;
  background-position: right;
  display: flex;
  align-items: center;
}
.warranty__inner{
height: 565px;
background-color: #f6f9f3;
}
.warranty__content-sub-title{
font-size: 14px;
line-height: 24px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.05em;
padding-left: 68px;
}
.warranty__content-wrapper{
  padding: 19px;
  background-color: #fff;
  margin-left: 68px;
  margin-top: 60px;
}
.warranty__content__wrapper-border{
  border: 1px solid rgba(164,197,140,0.6);
  position: relative;
  padding: 48px 0px 0px 50px;
}
.warranty__content__wrapper-border span{
  background-color: #fff;
  position: absolute;
  left: 42px;
  top: -10px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;  
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #a4c58c;
}
.warranty__content-text{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #303030;
}
.warranty__content-text:nth-child(2){
  margin-bottom: 26px;
}
.warranty__btn{
  position: static;
  width: 351px;
  height: 60px;
  margin-top: 48px; 
  margin-left: 130px;
}
.warranty__content{
  display: flex;
}
.warranty__content{
  background-image: url(../images/warranty__2.png);
  background-repeat: no-repeat;
  height: 464px;
  background-position: top right;
}
.footer__inner{
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .footer___text a{
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  color: #9a9a9a;
  margin-right: 50px;
 }
 .footer__phone a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 450;
  color: #303030;
 }
 .footer___phone-text{
 color: #9a9a9a;
 font-size: 12px;
 font-weight: 400;
 text-align: right;
 }
 .footer___text a:nth-child(1){
  margin-left:84px;
}
.icone__packaging-2{
  display: none;
}
.top__inner-title-2{
  display: none;
} 
.top__imeges-mob{
  display: none;
}
.container-mob{
  display: none;
}
.reputation-btnx{
display: none;
}
.reputation-btn{
  display: block;
}

/* @media (max-width: 1026px){

} */


@media (max-width: 1280px){
  .reputation__inner{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
  }
.reputation__inner-icone{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-position: right;
}
.reputation__form{
  position: sticky;
}

}
@media (max-width: 1152px){
  .list__title {
    font-size: 36px;
  }
  .tabs__content .tabs{
    font-size: 12px;
  }
  .tabs__inner{
    bottom: 26px;
  }
}
@media (max-width: 1042px){
.top__iner-img img{
  margin-left: -118px;
}
}

@media (max-width: 1030px){
  .tabs__content .tabs{
    padding-top: 16px;
    padding-bottom : 16px;
  }
  .list__box {
    flex-direction: column;
    padding-left: 0px !important;
  }
  .list__box .tabs{
    padding-left: 0px !important;
    width: 100%;
    border-right: none !important;
  }
}
  @media (max-width: 945px){
    .list__title {
      font-size: 30px;
  }
  }

@media (max-width: 912px){
  .top__wrapper{
   position: relative;
  }
  .top__inner-form{
    z-index: 1;
    margin-left: -44px;
  }
  .top__iner-img img{
    position: absolute;
  }
  .top__inner-subtitle{
    margin-left: 128px;
    padding-top: 15px;
  }
  .top__inner-title{
    width: 250px;
    margin-left: 120px;
    font-size: 50px;
  }
  .top__inner-text{
    margin-left: 120px;
    width: 264px;
    margin-top:20px;
  }
  .top__block-form{
    margin-top:62px;
    margin-right: 38px !important;
  }
}
@media (max-width: 880px){
  .list__title {
    font-size: 20px;
}
}
@media (max-width: 804px){
  .tabs__content .tabs {
    padding-top: 13px;
    padding-bottom: 13px;
}
}

@media (max-width: 780px){
  .header__inner{
    padding-left:  0px;
    padding-right: 0px;
  }
  .tabs__content .tabs {
    padding-top: 11px;
    padding-bottom: 11px;
}
}
@media (max-width: 768px){
  .reputation__content{
         padding-left: 0px; 
  }
  .top{
    padding-bottom: 70px;
  }
 .top__imeges{
  background-position: right;
}
.top__imeges{
  background-image: url(../images/fon-1.png);
}
.top__inner-subtitle{
  margin-left: 224px;
  padding-top: 15px;
}
.top__inner-title{
  max-width: 250px;
  margin-left: 218px;
  font-size: 50px;
}
.top__inner-text{
  margin-left: 218px;
  max-width: 264px;
  margin-top:20px;
}
.top__block-form{
  margin-top:62px;
}
.top__block-form{
  margin-right: 18px;
}
 .advantages__inner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 580px;
}
.advantages .container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.advantages{
  padding-bottom: 145px;
}
.list{
  display: none;
}
.list-tablet{
  display: block;
  padding-bottom: 316px;
}
.list__title{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}
.list__box{
   display: flex;
   flex-direction: initial;
}
.list__box .tabs{
  width: 50%;
}
.list__box .tabs:nth-child(2n+1) {
  border-right: 1px solid #a4c58c !important ;
}
.list__box .tabs:nth-child(2n){
 padding-left: 38px !important;
}
.tabs__content .tabs{
 padding-top: 26px;
 padding-bottom: 26px;
 font-size: 14px;
}
.list__content-tabs{
  margin-top: 46px;
  padding-left: 56px;
  padding-right: 61px;
  background-color: #f6f9f3;
  min-height: 540px;
}
.list__inner{
  display: block;
}
.list__imege{
  margin-top: -31px;
}

.list__imege{
  max-width: 768px;
  min-height: 690px;
 background-color: #a4c58c;
 
}
.list__icone{
 background-image: url(../images/human.png) ;
 background-repeat: no-repeat;
 background-position: center;
 width: 100%;
 height: 690px;
 
}
.tab.active{
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}


.tab-1.active  {
  left: 114px;
  top: 188px;
}
.tab-2 {
  left: 188px;
}
.tab-3 {
  left: 188px;
}
.tab-4 {
  left: 188px;
}
.tab-5 {
  position: absolute;
  left: 188px;
}
.tab-6 {
 left: 218px;
}
.tab-7 {
  left: 188px;
 }
 .tab-8 {
  left: 188px;
 }
 .tab-9 {
  left:188px;
 }
 .tabs__inner{
  bottom: -21px; 
 }
 .list__btn{
   justify-content: center;
 }
 .list__button{
  max-width: 416px;
  min-height: 70px;
  margin-top: 20px;
 }
 .container-tablet{
   max-width: 420px;
   margin: 0 auto;
 }
 .list-tablet{
   padding-bottom: 150px;
 }
 .reputation__title h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  max-width: 532px;
  text-align: center;
 }
 .reputation__title br{
   display: none;
 }
 .reputation__sub-title{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
 }
 .content-text{
   margin-top: 40px;
 }
 .reputation__content-text{
  font-size: 16px !important;
  line-height: 22px;
 }
}
@media (max-width:744px){
  .top__inner_form{
    margin-left: -19px;
  }
  .top__block-form input{
    max-width: 150px;
  }
  .top__inner-subtitle{
    margin-left: 128px;
    padding-top: 15px;
  }
  .top__inner-title{
    max-width: 250px;
    margin-left: 120px;
    font-size: 50px;
  }
  .top__inner-text{
    margin-left: 120px;
    max-width: 264px;
    margin-top:20px;
  }
}

@media (max-width: 690px) {
  .header__phone a{
    font-size: 15px;
  }
  .header__logo{
    width: 140px;
   } 
   .header___text{
    font-size:12px;
    margin-right: 0;
    padding-left: 0;
   }
   .header__logo img{
     width: 140px;
   }
}
@media (max-width: 668px) {
  .list__imege{
    margin-top: -1px;
  }
  .top__inner-subtitle{
    margin-left: 188px;
    font-size: 14px;
  }
  .top__inner-title{
    margin-left: 180px;
    font-size: 40px;
  }
  .top__inner-text{
    margin-left: 180px;
    font-size: 14px;
  }
  .top__inner-subtitle{
    padding-top: 70px;
  }
   .list__box{
    flex-direction: column;
  }
   .list__box .tabs{
    width: 100%;
  }  
    .list__box .tabs:nth-child(2n+1) {
    border-right: none !important;
    padding-left:0px !important;
  }
  .list__box .tabs:nth-child(2n) {
    padding-left: 0px !important;
} 
}
@media (max-width: 634px) {
  .reputation__form-content{
    padding: 28px 10px 28px 10px;
  }
}
@media (max-width: 556px){
.top__inner-form{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.top__inner-subtitle{
  padding-top: 0 ;
}
.top__inner-subtitle{
  width: 242px;       /*   тут закончил   ///// */
}
.top__inner_form{
  margin-left: -32px;
}
.top__inner_form input{
  margin-left: 0px;
}
.top__inner_form button{
 width: 100%;
}
.advantages__title{
  font-size: 20px;
}

.advantages__item{
  width: 198px;
}
}
@media (max-width: 538px){
  .reputation__form-inner{
    padding: 10px;
  }
  .reputation__form-content{
   padding: 20px 10px 20px 10px;
   font-size: 14px;
  }
.reputation__inner-icone{
  background-position-y: inherit;
}
}
@media (max-width: 530px){
  .reputation__inner-icone{
   background-image: url(../images/tablet.png);
   width: 768px;
  }

}
  @media (max-width: 500px) {
  .header___text{
    display: none;
  }
  .reputation-btn img {
    display: none;
  }
  
}
  .top__inner-form{
    margin-left:-100px;
  }
  }
  @media (max-width: 470px) {
    .top__block-form .form{
      padding-top: 0px !important;
    }
    .top__block-form form{
      padding-top: 0px;
      padding-bottom: 74px;
    }
    .top__block-form{
      padding: 10px;
    }
    .top__block-form{
      margin-top: 156px !important;
    }
    .top__inner-subtitle{
      margin-top: 10px;
    }
  }
  @media (max-width: 440px){
 .list__icone{
  background-image: url(../images/human.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
 }
 .advantages__item{
  width: 240px;
}
}
@media (max-width: 429px){
  .tab-1.active  {
    left: 107px;
  }
  .tab-2 {
    left: 148px;
  }
  .tab-3 {
    left: 180px;
  }
  .tab-4 {
    left: 170px;
  }
  .tab-5 {
    position: absolute;
    left: 180px;
  }
  .tab-6 {
   left: 207px;
  }
  .tab-7 {
    left: 180px;
   }
   .tab-8 {
    left: 173px;
   }
   .tab-9 {
    left: 180px;
   }
   .list__content-tabs {
    margin-top: 46px;
    padding-left: 20px;
    padding-right: 20px;
   }

} 
@media (max-width: 412px){
  .tab-1.active  {
    left: 104px;
  }
  .tab-2 {
    left: 148px;
  }
  .tab-3 {
    left: 174px;
  }
  .tab-4 {
    left: 171px;
  }
  .tab-5 {
    position: absolute;
    left: 174px;
  }
  .tab-6 {
    left: 202px;
  }
  .tab-7 {
    left: 174px;
   }
   .tab-8 {
    left: 173px;
   }
   .tab-9 {
    left: 174px;
   }

} 
@media (max-width: 400px){
  .tab-1.active  {
    left: 92px;
  }
  .tab-2 {
    left: 148px;
  }
  .tab-3 {
    left: 168px;
  }
  .tab-4 {
    left: 148px;
  }
  .tab-5 {
    position: absolute;
    left: 168px;
  }
  .tab-6 {
   left: 202px;
  }
  .tab-7 {
    left: 168px;
   }
   .tab-8 {
    left: 148px;
   }
   .tab-9 {
    left: 168px;
   }

}  

@media (max-width: 403px) {
  .advantages__inner {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    max-width: 580px;
    }
    .advantages__img{
    display: none;
    }
    .top{
     padding-bottom: 60px;
    }
    .advantages__title{
     font-size: 24px;
    }
  }
   @media (max-width: 398px){
    .tab-1.active  {
      left: 97px;
    }
    .tab-2 {
      left: 166px;
    }
    .tab-3 {
      left: 166px;
    }
    .tab-4 {
      left: 166px;
    }
    .tab-5 {
      position: absolute;
      left: 166px;
    }
    .tab-6 {
     left: 196px;
    }
    .tab-7 {
      left: 166px;
     }
     .tab-8 {
      left: 166px;
     }
     .tab-9 {
      left: 166px;
     }

  }
  
  @media (max-width: 390px){
    .tab-1.active  {
      left: 92px;
    }
    .tab-2 {
      left: 148px;
    }
    .tab-3 {
      left: 164px;
    }
    .tab-4 {
      left: 148px;
    }
    .tab-5 {
      position: absolute;
      left: 164px;
    }
    .tab-6 {
     left: 190px;
    }
    .tab-7 {
      left: 164px;
     }
     .tab-8 {
      left: 148px;
     }
     .tab-9 {
      left: 164px;
     }
  } 
  @media (max-width: 382px){
    .tab-1.active  {
      left: 90px;
    }
    .tab-2 {
      left: 154px;
    }
    .tab-3 {
      left: 154px;
    }
    .tab-4 {
      left: 154px;
    }
    .tab-5 {
      position: absolute;
      left: 154px;
    }
    .tab-6 {
     left: 186px;
    }
    .tab-7 {
      left: 154px;
     }
     .tab-8 {
      left: 154px;
     }
     .tab-9 {
      left: 154px;
     }
  } 
  @media (max-width: 380px){
    .reputation__inner-icone{
      background-size: contain;
      height: 558px;
    }
.reputation__inner-icone
    .tab-1.active  {
      left: 85px;
    }
    .reputation__form-content{
      font-size: 17px;
    }
    .reputation-btn{
      font-size: 12px;
    }
    .reputation-btn img{
      display: none;
    }
    .reputation__form-content
    .tab-2 {
      left: 148px;
    }
    .tab-3 {
      left: 158px;
    }
    .tab-4 {
      left: 148px;
    }
    .tab-5 {
      position: absolute;
      left: 158px;
    }
    .tab-6 {
     left: 186px;
    }
    .tab-7 {
      left: 164px;
     }
     .tab-8 {
      left: 156px;
     }
     .tab-9 {
      left: 158px;
     }
     .list__title {
      font-size: 24px;
      line-height: 35px;
  } 
}
  @media (max-width: 370px){
    .tab-1.active  {
      left: 82px;
    }
    .tab-2 {
      left: 148px;
    }
    .tab-3 {
      left: 151px;
    }
    .tab-4 {
      left: 148px;
    }
    .tab-5 {
      position: absolute;
      left: 151px;
    }
    .tab-6 {
      left: 182px;
    }
    .tab-7 {
      left: 151px;
     }
     .tab-8 {
      left: 148px;
     }
     .tab-9 {
      left: 151px;
     }
  } 

  @media (max-width: 360px){
 
    .header__logo{
      max-width: 140px;
     } 
     .header__phone img{
       display: none;
     }
     .header___phone-text{
       display: none;
     }
     .header__phone{
      font-size: 14px;
     }
     .top__inner-form {
      max-width: 150px;
    }
    .top__iner-img img {
      left:39%;
    }
    .top__inner-title{
      font-size: 38px;
    }
    .top__block-form{
      margin-top: 60px  !important;
      padding: 6px;
      margin-right:0px !important;
    }
    .top__inner_form input{
      margin-right: 6px;
    }
    .header__phone a{
      font-size: 14px;
      font-weight: 500;
      color: #303030;
      }
        .tab-1.active  {
          left: 80px;
        }
        .tab-2 {
          left: 148px;
        }
        .tab-3 {
          left: 147px;
        }
        .tab-4 {
          left: 148px;
        }
        .tab-5 {
          position: absolute;
          left: 147px;
        }
        .tab-6 {
         left: 172px;
        }
        .tab-7 {
          left: 147px;
         }
         .tab-8 {
          left: 148px;
         }
         .tab-9 {
          left: 147px;
         }
  }
   @media (max-width: 358px){
    .tab-1.active  {
      left: 76px;
    }
    .tab-2 {
      left: 148px;
    }
    .tab-3 {
      left: 148px;
    }
    .tab-4 {
      left: 148px;
    }
    .tab-5 {
      position: absolute;
      left: 148px;
    }
    .tab-6 {
     left: 172px;
    }
    .tab-7 {
      left: 148px;
     }
     .tab-8 {
      left: 142px;
     }
     .tab-9 {
      left: 148px;
     }

  }
  @media (max-width: 350px){
    .tab-1.active  {
      left: 71px;
    }
    .tab-2 {
      left: 148px;
    }
    .tab-3 {
      left: 144px;
    }
    .tab-4 {
      left: 133px;
    }
    .tab-5 {
      position: absolute;
      left: 144px;
    }
    .tab-6 {
     left: 172px;
    }
    .tab-7 {
      left: 144px;
     }
     .tab-8 {
      left: 138px;
     }
     .tab-9 {
      left: 144px;
     }

  } 


@media (max-width: 336px){
  .tab-1.active  {
    left: 67px;
  }
  .tab-2 {
    left: 148px;
  }
  .tab-3 {
    left: 137px;
  }
  .tab-4 {
    left: 118px;
  }
  .tab-5 {
    position: absolute;
    left: 137px;
  }
  .tab-6 {
   left: 164px;
  }
  .tab-7 {
    left: 137px;
   }
   .tab-8 {
    left: 134px;
   }
   .tab-9 {
    left: 137px;
   }
  }
   @media (max-width: 328px){
    .tab-1.active  {
      left: 64px;
    }
    .tab-2 {
      left: 148px;
    }
    .tab-3 {
      left: 132px;
    }
    .tab-4 {
      left: 120px;
    }
    .tab-5 {
      position: absolute;
      left: 118px;
    }
    .tab-6 {
     left: 160px;
    }
    .tab-7 {
      left: 132px;
     }
     .tab-8 {
      left: 130px;
     }
     .tab-9 {
      left: 132px;
     }
} 
  @media (max-width: 320px){
    .top__imeges-mob{
      display: block;
    }
    .container-mob{
      display: block;
    }
  .top__inner{
    display: none;
  }
  .top__imeges{
    display: none;
  }
  .wraper-mob{
   max-width: 300px;
   margin: 0 auto;
 }
 .top__imeges-mob .container-mob{
  max-width: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .container-mob{
  max-width: 160px;
  margin: 0 auto;
 }
 .top__imeges-mob{
   background-image: url(../images/icone-fon-mob.png);
   height: 435px;
   background-position: right;
   background-repeat: no-repeat;
}
 .top__inner-subtitle-mob{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  margin-top: 36px;
 }
 .top__inner-title-mob{
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
 }
.top__iner-img-mob img {
  margin-top: 26px;
}
.btn-mob{
  width: 100%;
  height: 60px;
  background-color: #7eb252;
  margin-top: 14px;
  position: sticky;
}
.header__logo img{
  max-width: 110px;
}
.top__imeges-mob .wraper-mob{
  max-width: 100%;
}
.header__phone a{
font-size: 14px;
font-weight: 500;
color: #303030;
}
.advantages__inner .advantages__item:nth-child(1){
  padding-top: 0px;
  }
  .advantages{
    padding-bottom: 58px;
  }
  .tabs__content .tabs{
    font-size: 12px;
  }
  .list__content-tabs {
    padding-left: 12px;
    padding-right: 0px;
}
.list__icone{
  display: none;
}
.tab.active {
  display: none;
}
.list__imege{
  background-color: #fff;
  min-height: 173px;
}
.tabs__content-reviews {
  padding: 40px 12px 40px 10px;
  font-size: 14px;
  line-height: 24px;
  }
  .tabs__inner{
     padding: 10px;
  }
  .list__button img{
    display: none;
  }
  .list__btn{
    margin-top: 26px;
  }
  .list-tablet{
    padding-bottom:60px;
  }
  .reputation__inner-icone{
    background-image: url(../images/reputation-mob.png);
  }
  .reputation__title h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding-bottom: 28px;    
  }
  .reputation__sub-title{
    font-size: 12px;
     padding-top: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .reputation__content-text{
    padding-top: 30px;
  }
  .content-text{
    margin-top:20px ;
  }
  .content-text:nth-child(1){
    margin-top:0px ;
  }
  .reputation__inner-icone{
    margin-top: 28px;
  }
  .reputation__form-inner{
    padding: 0px;
  }
  .reputation__form-content{
    padding:0px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    width: 239px;
    margin: 0 auto;
    text-align: center;
  }
  .reputation__form-content br{
    display: none;
  }
  .reputation__inner-icone{
    height: 488px;
  }
  .reputation-btn{
    margin-top: 38px;
  }
  .reputation-btnx{
    display: block;
    position: sticky;
    position: static;
    width: 310px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 38px;
  }
  .reputation-btn{
    display: none;
  }

}
