*{
  box-sizing: border-box;  
}
p{
  margin: 0;
}
body{
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.main{
border: 2px solid red;
margin: 0 auto;
}
.container{
 max-width: 1200px;
 border: 2px solid blue;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}
.header__inner{
 height: 104px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.header___text{
 color: #9a9a9a;
 font-size: 16px;
 font-weight: 400;
 margin-right: auto;
 padding-left: 30px;
}
.header__phone a{
 text-decoration: none;
 font-size: 20px;
 font-weight: 450;
 color: #303030;
}
.header___phone-text{
color: #9a9a9a;
font-size: 12px;
font-weight: 400;
text-align: right;
}
.top{
 padding-bottom: 84p;
}
.top__imeges{
 background-image: url(../images/fon.png);
 max-width: 1720px;
 height: 544px;
 margin: 0 auto;
}
.top{
 padding-bottom: 104px; 
}
.top__inner{
  border: 2px solid red;
}
.top__wrapper{
 color: #ffffff;
 display: flex;
 justify-content: space-between;
}
.top__inner{
  margin-top: -450px;
}
.top__iner-img{
  margin-left:122px;
}
.top__inner-subtitle{
 font-size: 14px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 0.7px;
 padding-top: 57px;
}
.top__inner-title{
 font-size: 60px;
 font-weight: 600;
 margin-top: 28px;
}
.top__inner-text{
 font-size: 18px;
 font-weight: 400;
 margin-top: 40px;
}
.top__block-form{
 background-color: #ffffff;
 margin-top: 84px;
 padding: 20px; 
}
form{
 border: 1px solid #a4c58c;
 padding-top: 48px;
 padding-left: 48px;
 padding-bottom: 118px;
 position: relative;
}
.form__title{
 color: #303030;  
 font-size: 14px;
 font-weight: 700;
 letter-spacing: 0.7px;
 text-transform: uppercase;
 line-height: 22px;
}
input{
 margin-top: 34px;
 border: none;
 border-bottom: 1px solid #a4c58c;
 padding-bottom: 14px;
 width: 200px;
 outline:none
}
input + input{
 margin-left: 30px;
}
input::placeholder{
color: #a8c48c;
font-size: 14px;
font-weight: 400;
}
button{
position: absolute;
width: 250px;
height: 60px;
background-color: #7eb252;
color:#ffffff;
font-size: 14px;
text-transform: uppercase; 
bottom: 0;
right: 0;
outline:none;
font-weight: 700;

}
button:active{
 background-color: #a4d678;;
}
button img{
margin-left: 18px;
}
.advantages{
 padding-bottom: 200px;
}
.advantages__inner{
display: flex;
justify-content: space-between;
}
.advantages__item{
  padding-left: 40px;
  padding-top: 35px;
  width: 250px;
  position: relative;
}
.advantages__img{
 position: absolute;
 left: 0px;
 top:0px;
}
.advantages__title{
 display: inline-block;
 font-size: 30px;
 font-weight: 500;
 line-height: 24px;
 color: #a4c58c;
}
.advantages__title span{
 font-size: 18px;
}
.advantages__title hr{
height: 3px;
background-color: #a4c58c;
margin-top: 3px;
}
.advantages__text{
 font-size: 16px;
 font-weight: 400px;
 line-height: 24px;
}
.heals___list-bottom{
 width: 650px;
 border: 2px solid red;
}
.heals__inner{
  max-width: 1720px;
  display: flex;
  justify-content: space-between;
}
.heals__block-text{
  z-index:1 ;
  border: 2px solid red;
  padding-top: 50px;
  padding-right: 20px;
}
h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding-bottom: 45px;
}
.list{
  border: 2px solid red;
  padding-top: 48px;
  padding-bottom: 200px;
}
.list__wrapper{
  max-width: 1720px;
  height: 540px;
  background-color: #f6f9f3;
  margin: 0 auto;
  margin-top: 46px;
}
.list__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.container{
  border: 2px solid green;
}
.list__inner{
  display: flex;
  justify-content: space-between;
  height: 540px;
}
.list__imege{
margin-top: -202px;
position: relative;
}
/* *** */

.list__content-tabs{
  width: 100%;
  padding-right: 20px;
}

/* *** */
.tabs__content span{
 font-size: 14px;
 font-weight: 550;
 letter-spacing: 0.7px;
 text-transform: uppercase;
 color: #a4c58c;
 padding-right: 22px;
}

.tabs{
  cursor: pointer;
  display: flex;
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #a4c58c;
  padding-top: 22px;
  padding-bottom: 27px;
}
.list__box{
  display: flex;
  flex-wrap: wrap;
}
.list__box .tabs{
  display: flex;
  align-items: center;
  width: 50%;
}
.list__box .tabs:nth-child(2n+1){
  border: 1px solid #a4c58c;
  border-left: none;
  border-top:none;
}
.list__box .tabs:nth-child(2n){
  padding-left: 20px;
}
.list__imege{
  position: relative;
}
.tabs__item-bottom{
  position: absolute;
  top: 0;
}
.tab{
  display: none;
}
 .tab.active{
 width: 44px;
height: 44px;
background-color: #ffffff;
opacity: 0.8;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
 .tab_border{
width: 26px;
height: 26px;
background-color: #a5c98a;
background-color: #a4c58c;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.tab_border{
color: #ffffff;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
}
.tab-1{
 position: absolute;
 top: 190px;
 left: 148px;
}
.tab-2{
  position: absolute;
  top: 190px;
  left: 247px;
}
.tab-3{
  position: absolute;
  top: 35px;
  left: 228px;
}
.tab-4{
  position: absolute;
  top: 160px;
  left: 228px;
}
.tab-5{
  position: absolute;
  top: 35px;
  left: 228px;
}
.tab-6{
  position: absolute;
  top: 322px;
  left: 259px;
}
.tab-7{
  position: absolute;
  top: 34px;
  left: 228px;
}
.tab-8{
  position: absolute;
  top: 194px;
  left: 229px;
}
.tab-9{
  position: absolute;
  top: 34px;
  left: 228px;
}
.tabs__inner{
  position: absolute;
  bottom: 35px;
  padding: 20px;
  background-color: #f6f9f3;
}
.tabs__content-reviews{
  padding: 28px 27px 32px 50px;
  border: 1px solid rgba(164, 197, 140, 0.6);
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}
.reviews{
  position: absolute;
  bottom: 8px;
  background-color: #f6f9f3;
  left: 56px;
}
.reviews a{
  text-decoration: none;
  color: #7eb252;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
}
.list__btn{
 padding-top: 20px;
 display: flex; 
 justify-content: flex-end;
}
.list__button{
 position: static;
 width: 500px;
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: center;  
 font-size: 14px;
 font-weight: 750;
 letter-spacing: 0,7px;
}
.reputation{
 padding-bottom: 181px;
}
.container__wrapper{
 max-width: 1720px;
 margin: 0 auto;

}
.reputation__inner{
  background-image: url(../images/reputation.png);
  background-repeat: no-repeat; 
  height: 645px;
}
.reputation__box{
  display: flex;
  justify-content: space-between;
  }
.reputation__form{
  height: 730px;
  display: flex;
  align-items: flex-end;
}
.reputation__form-inner{
  padding: 20px;
  z-index: 1;
  background-color: #ffffff;
}
.reputation__form-content{
  padding: 38px 78px 38px 38px;
  border: 1px solid #a4c58c;
  border-bottom: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.reputation-btn{
  position: static;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}
.reputation__content{
  margin-top: 48px;
}
.reputation__sub-title{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 66px;
}
.content-text{
  display: flex;
  align-items: center;
  margin-top: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.content-text img{
 margin-right: 30px;
}
.wrapper{
  max-width: 1720px;
  margin: 0 auto;
  background-image: url(../images/history__icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  min-height:920px;;
}
.history__inner{
  max-width: 718px;
}
.history__title{
font-size: 40px;
font-weight: 700;
line-height: 50px;
margin-top: 98px;
}
.history__text{
  height: 370px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f9f3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-top: 52px;
}
.history__text::before {
  content: "";
  position: absolute;
  background-color: #f6f9f3;
  height: 368px;
  width: 280px;
  left: -280px;
}

.history__text p{
 margin-top: 30px; 
} 
.history__form{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 60px;
}
.history__form-title{
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.history__form-mail{
  border: none;
  padding-left: 0;
  width: 370px;
}
.history__form-mail input{
  width: 100%;
}
.history__form-mail button{
  width: 100%;
}
.recipe{
  background-image: url(../images/left\ flower.png);
  background-repeat: no-repeat;
  background-position: left center; 
  min-height: 630px;
}

.recipe__inner{
  max-width: 100%;
  border:2px solid red;
  background-image: url(../images/right\ flower\ .png);
  background-repeat: no-repeat;
  background-position: right center; 
  min-height: 630px;
  display: flex;
  align-items: center;
  justify-content: center
}
.recipe__content{
 height: 332px;
 border: 3px solid #a4c58c;
 border-left: none;
 border-right: none;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.recipe__title{
font-size: 24px;
font-weight: 700;
line-height: 40px;
text-align: center;
}
.pecipe__text{
font-size: 18px;
font-weight: 400;
}
.pecipe__text span{
color: #9a9a9a;
font-size: 16px;
}
.benefit{
  padding-bottom: 200px;
}
.benefit__inner{
height: 380px;
background-color: #f6f9f3;
}
.benefit__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 102px;
}
.benefit__title span{
 margin-left: 20px;
}
.benefit__wrapper-icone{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  max-width: 1012px;
  margin: 0 auto;
  margin-top: -70px;
  padding-bottom: 18px;
}
.benefit__icone:nth-child(1){
  margin-right: 18px;
}
.benefit__icone:nth-child(3){
  margin-left: 18px;
}
.benefit__icone{
 border-top: none !important;
 position: relative;
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 312px;
 height: 312px;
 padding: 70px 80px 70px 78px;
 border: 1px solid #a4c58c;
 font-size: 150px;
font-weight: 400;
font-weight: 900;
color:#f6f9f3;
}
.benefit__icone img{
  position: absolute;
  z-index: 1;
  bottom: 101px;
  left: 124px;
}
.benefit__text{
font-size: 14px;
font-weight: 700;
color: #303030;
text-transform: uppercase;
text-align: center;
width: 280px;
}
.structure{
 padding-bottom: 200px;
}
.structure__wrapper-icone{
  display: flex;
  justify-content: space-between;
}
.structure__container{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.structure__icone{
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #a4c58c;
}

.structure-text{
 position: absolute;
 margin-top: 18px;
 transform: rotate(271deg);
 font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #a4c58c;
}
.structure__title-1{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-2{
  position: absolute;
  display: inline-block;
  bottom: 53px;
  right: -32px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-3{
  position: absolute;
  display: inline-block;
  bottom: 91px;
  right: -74px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-4{
  position: absolute;
  display: inline-block;
  bottom: 59px;
  right: -34px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-5{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-6{
  position: absolute;
  display: inline-block;
  bottom: 73px;
  right: -40px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-7{
  position: absolute;
  display: inline-block;
  bottom: 60px;
  right: -23px;
  transform: rotate(271deg);
  font-size: 14px;
}.structure__title{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-8{
  position: absolute;
  display: inline-block;
  bottom: 71px;
  right: -37px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-9{
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: -56px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__title-10{
  position: absolute;
  display: inline-block;
  bottom: 76px;
  right: -38px;
  transform: rotate(271deg);
  font-size: 14px;
}
.structure__icone-2{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-2:nth-child(2){
  margin-right: 59px;
}
.structure__icone-3{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-4{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-5{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-6{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/6.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-7{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/7.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-8{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/8.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-9{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/9.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-10{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/10.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__icone-11{
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-image: url(../images/11.png);
  background-repeat: no-repeat;
  background-position: center;
}
.structure__wrapper-recipe {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.structure__content-title{
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.structure__content-title span{
  margin-left: 26px;
}
.structure__content-text{
  font-size: 16px;
  line-height: 22px;;
}

li{
  color: #a4c58c !important;
} 
.structure__content-text{
font-size: 16px;
line-height: 22px;
color: #303030;
}
.description-text{
  font-size: 16px;
  line-height: 22px;;
  color: #303030;
  margin-top: 24px;
}

.structure__title{
  right: -30px;
}
.structure-text-content{
position:  absolute;
font-size: 14px;
line-height: 22px;
font-weight: 700;
top: 113px;
left: 19%;
}
.structure__recipe-description{
  border: 1px solid #a4c58c;
  padding: 81px 58px 98px 56px;
  border-right: none;
  min-width: 844px;
}
.description__wrapper-button{
display: flex;
justify-content: flex-end;
}
.description__btn{
 position: static;
 width: 351px;
 height: 60px;
 margin-top: 60px;
}

.structure__effect{
  position: absolute;
  width: 230px;
 height: 230px; 
 background-image: url(../images/hover.png);
 z-index: 1;
 display: none;
 top: 24px;
 left: 21px;
 opacity: 0.9;

}
.structure__icone:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__effect-text{
  color: #ffffff;
  font-size: 14px;
line-height: 20px;
font-weight: 700;
}
.structure__icone-2:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-3:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-4:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-5:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-6:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-7:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-8:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}.structure__icone-9:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-10:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__icone-11:hover .structure__effect{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.structure__wrapper{
  color: #a4c58c;
}
.customer-reviews__wrapper{
  background-color: #f6f9f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.customer-reviews__title{
font-size: 40px;
line-height: 50px;
font-weight: 700;
}
.customer-reviews__cotainer-button{
  display: flex;
  margin-top: 44px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #c3c3c3;
}
.customer-reviews__tab-1{
   height: 70px;
   width: 45%;
  padding-right: 44px;
  text-align: right;
  background-color: #f6f9f3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  
}
.customer-reviews__tab-2:active{
  background-color: #f6f9f3;
}
.customer-reviews__tab-1:active{
  background-color: #f6f9f3;
}



.customer-reviews__tab-2{
  padding-left: 60px;
  width: 68%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
 
}
.customer-reviews__container-text{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.customer-reviews__green-line{
width: 31px;
height: 3px;
background-color: #a4c58c;
margin-bottom: 18px;
}
.customer-reviews__text{
  margin-top: 58px;
  min-width: 460px;
}

.customer-reviews__comment{
  line-height: 36px;
  font-weight: 700;
  color: #303030;
  display: block;
}
.customer-reviews__container-text:nth-child(4){
  margin-left: 59px;
}
.customer-reviews__container{
  display: flex;
  align-items: center;
  
  justify-content: flex-end;
}
.customer-reviews__link{
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #7eb252;
}
.customer-reviews__btn{
  position:sticky;
  width: 570px;
  height: 70px;
  margin-left: 72px;
  
}
